    body {
      font-family: 'Open Sans', sans-serif;
          }


/*  text{
      font: 'Open Sans';
  }*/

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

  .d3-slider-handle{
    border: 1px solid #737373;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #BBBBBB 0%, #565656 100%);

  }

/*    #pause{
      background-color: #DDD;
    }*/

    .line {
      fill: none;
      stroke-width: 2px;
    }


    .A{
      stroke: #e74c3c;
    }

    .D{
      stroke: #3498db;
    }

    .dot {
      /*stroke: #fff;*/
      opacity: 0.7;
    }

    .label{
      fill: white;
    }

    body{
      padding: 40px;
    }

/*
    .legend text{
      fill: white;
    }*/


    div.tooltip {   
      position: absolute;           
      text-align: center;           
      padding: 15px;             
      background: #666;   
      border: 0px;    
      color: white;
      font-family: "Open Sans";  
      border-radius: 6px;           
      pointer-events: none;   
      font-size: 14px;      
    }


/*
    .tooltip{
      -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.15s;
    -webkit-transition-property: opacity;
    -webkit-transition-timing-function: linear;
    box-sizing: border-box;
    color: rgb(52, 73, 94);
    display: block;
    font-size: 14px;
    height: 140px;
    line-height: 19px;
    margin-top: -3px;
    opacity: 1;
    padding-bottom: 9px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    position: relative;
    top: -8px;
    z-index: 1030;
    opacity: 0;
    pointer-events: none;
    }

    .tooltip-arrow{
      border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 9px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 9px;
    border-top-color: rgb(52, 73, 94);
    border-top-style: solid;
    border-top-width: 9px;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(52, 73, 94);
    display: block;
    font-size: 14px;
    height: 9px;
    left: 106.25px;
    line-height: 19px;
    margin-left: -9px;
    position: absolute;
    width: 18px;
    }

    .tooltip-inner{
      background-color: rgb(52, 73, 94);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      display: inline-block;
      font-size: 14px;
      line-height: 18px;
      max-width: 200px;
      padding-bottom: 12px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 12px;
      text-align: center;
      text-decoration: none;
    }
*/

.car{
  cursor: pointer;
}